* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'roboto', sans-serif;
}

.main {
  background-color: rgb(104, 109, 224);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 800px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
}

h3 {
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  margin: 20px 0;
  line-height: 40px;
  font-size: 30px;
}

button {
  background-color: #9f68e0;
  padding: 14px 40px;
  font-size: 16px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.05s linear;
}

button:active {
  transform: scale(0.95);
}
